<app-nav-bar></app-nav-bar>

<div class="achievements ">
    <div class="container col-12 col-sm-12 col-lg-8 col-md-11 align-items-center">

        <h1 translate class="title pb-lg-4 pb-md-4 pb-0">ACHIEVEMENTS.achievements</h1>
        <div class="container col-lg-10 col-md-12 col-12 col-sm-12 mt-5">
            <div *ngIf=" authority =='admin'" class="card  mb-5 mr-md-3 ml-md-3 mr-lg-3 ml-lg-3" id="achievement-form">
                <h2 class="title pb-3">Új eredmény hozzáadása</h2>
                <div>
                    <form #AddForm="ngForm">
                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="MAGYAR" class="pt-3">
                                <div class="container p-3 ">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-12">
                                            <div class="form-group">
                                                <mat-form-field >
                                                    <input matInput name="location_hu" type="text" id="location_hu"
                                                           [(ngModel)]="form.location_hu" required placeholder="Helyszín">
                                                    <mat-error>Kötelező mező</mat-error>
                                                    <mat-hint>Város vagy ország neve</mat-hint>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-group">
                                                <mat-form-field >
                                                    <input matInput name="place_hu" type="text" id="place_hu"
                                                           [(ngModel)]="form.place_hu" required placeholder="Helyezés">
                                                    <mat-error>Kötelező mező</mat-error>
                                                    <mat-hint>Példa: 1. helyezés</mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-12">
                                            <div class="form-group">
                                                <mat-form-field >
                                                    <input matInput name="title_hu" type="text" id="title_hu"
                                                           [(ngModel)]="form.title_hu" required placeholder="Verseny/rendezvény neve">
                                                    <mat-error>Kötelező mező</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="ANGOL" class="pt-3">
                                <div class="container p-3 ">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-12">
                                            <div class="form-group">
                                                <mat-form-field >
                                                    <input matInput name="location_en" type="text" id="location_en"
                                                           [(ngModel)]="form.location_en" required placeholder="Location">
                                                    <mat-error>Required field</mat-error>
                                                    <mat-hint>Name of city or country</mat-hint>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-group">
                                                <mat-form-field >
                                                    <input matInput name="place_en" type="text" id="place_en"
                                                           [(ngModel)]="form.place_en" required placeholder="Place">
                                                    <mat-error>Required field</mat-error>
                                                    <mat-hint>Example: 4th place</mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-12">
                                            <div class="form-group">
                                                <mat-form-field >
                                                    <input matInput name="title_en" type="text" id="title_en"
                                                           [(ngModel)]="form.title_en" required placeholder="Title of achievement/competition">
                                                    <mat-error>Required field</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                        <div class="row pl-3">
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group">
                                    <mat-form-field >
                                        <mat-label>Dátum</mat-label>
                                        <input matInput  name="date" [matDatepicker]="date" [(ngModel)]="form.date" id="date">
                                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                        <mat-datepicker #date></mat-datepicker>
<!--                                        <mat-hint>Üresen hagyva a mai dátummal lesz elmentve</mat-hint>-->
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group pt-4 pb-3">
                                    <label for="file">Kép</label>
                                    <input type="file"
                                           id="file"
                                           [(ngModel)]="form.file" name="file"
                                           (change)="handleFileInput($event.target.files)">
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-end pr-3">
                            <a class="btn" (click)="onSubmit(AddForm)" href="javascript:void(0)"
                               [ngClass]="{'disabled': !AddForm.form.valid || fileToUpload==null}"><span>Feltöltés</span></a>

                            <div [hidden]="!failed"
                                 class="alert alert-danger mt-3">
                                {{errorMessage}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <ul class="timeline col-12 col-sm-12 col-lg-8 col-md-11 ">
                <li *ngFor="let achievement of achievements ">
<!--                <li *ngFor="let achievement of sortby('date') ">-->
                    <app-achievement [achievement]="achievement" [authority]="authority"
                                     (onRemove)="onDeleteAchievement($event)"></app-achievement>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-6 offset-lg-2 offset-md-3 offset-sm-3 offset-2 load-more">
            <a class="btn" *ngIf="!isLastPage" (click)="getAchievements()" href="javascript:void(0)"><span translate>BUTTON.more</span></a>
        </div>

    </div>
</div>

<app-footer></app-footer>
