div.achievements{
    background-color: #F3F4F4;
}

/* TIMELINE*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    margin:0;
}
#achievement-form{
    background: white;
    background-color: white;
    padding: 3%;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #173a45;
    margin-left: -1.5px;
    left: 40px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.load-more{
    padding-bottom: 10%;
    padding-top:3%;
}

.nav-link {
    color: grey;
}
.localization-tab-content{
    padding: 1rem 1rem 0 1rem;
    border: solid 1px lightgrey;
    border-style: none solid solid solid;
}
.nav-tabs{
    padding: 1rem 1rem 0 1rem
}
.localization-tabs{
    margin-bottom: 1rem;
}

