<app-nav-bar></app-nav-bar>

<div class="achievements ">
    <div class="container col-12 col-sm-12 col-lg-8 col-md-11 align-items-center">

        <h1 translate class="title pb-lg-4 pb-md-4 pb-0">ACHIEVEMENTS.achievements</h1>
        <div class="container col-lg-10 col-md-12 col-12 col-sm-12 mt-5">
            <div *ngIf=" authority =='admin'" class="card  mb-5 mr-md-3 ml-md-3 mr-lg-3 ml-lg-3" id="achievement-form">
                <h2 class="title pb-3">Új eredmény hozzáadása</h2>
                <div>
                    <form #AddForm="ngForm">
                        <div class="localization-tabs">
                            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                                <li ngbNavItem>
                                    <a ngbNavLink>Magyar</a>
                                    <ng-template ngbNavContent>


                                        <div class="row">
                                            <div class="col-md-6 col-lg-6 col-12">
                                                <div class="form-group">
                                                    <label for="location_hu">Helyszín</label>
                                                    <input type="text" class="form-control" id="location_hu"
                                                           placeholder="város vagy ország neve"
                                                           required
                                                           [(ngModel)]="form.location_hu" name="location_hu"
                                                           [ngClass]="{'failed': failed }">
                                                </div>
                                                <div class="form-group">
                                                    <label for="place_hu">Helyezés</label>
                                                    <input type="text" class="form-control" id="place_hu"
                                                           [(ngModel)]="form.place_hu" name="place_hu"
                                                           [ngClass]="{'failed': failed }">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-12">
                                                <div class="form-group">
                                                    <label for="title_hu">Verseny/eredmény neve</label>
                                                    <input type="text" class="form-control" id="title_hu"
                                                           required
                                                           [(ngModel)]="form.title_hu" name="title_hu"
                                                           [ngClass]="{'failed': failed }">
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink>Angol</a>
                                    <ng-template ngbNavContent>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6 col-12">
                                                <div class="form-group">
                                                    <label for="location_en">Location</label>
                                                    <input type="text" class="form-control" id="location_en"
                                                           placeholder="name of city or country"
                                                           required
                                                           [(ngModel)]="form.location_en" name="location_en"
                                                           [ngClass]="{'failed': failed }">
                                                </div>
                                                <div class="form-group">
                                                    <label for="place_en">Place </label>
                                                    <input type="text" class="form-control" id="place_en"
                                                           [(ngModel)]="form.place_en" name="place_en"
                                                           [ngClass]="{'failed': failed }">

                                                </div>

                                            </div>
                                            <div class="col-md-6 col-lg-6 col-12">
                                                <div class="form-group">
                                                    <label for="title_en">Title of achievement/competition</label>
                                                    <input type="text" class="form-control" id="title_en"
                                                           required
                                                           [(ngModel)]="form.title_en" name="title"
                                                           [ngClass]="{'failed': failed }">

                                                </div>
                                            </div>
                                        </div>

                                    </ng-template>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav" class="localization-tab-content"></div>
                        </div>

                        <div class="row pl-1">
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="date">Dátum</label>
                                    <input id="date"
                                           required
                                           type="text"
                                           class="form-control"
                                           placeholder="YYYY-MM-DD"
                                           [(ngModel)]="form.date" name="date"
                                           [ngClass]="{'failed': failed }">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group pt-4 pb-3">
                                    <label for="file">Kép</label>
                                    <input type="file"
                                           id="file"
                                           [(ngModel)]="form.file" name="file"
                                           (change)="handleFileInput($event.target.files)">
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-end pr-3">
                            <a class="btn" (click)="onSubmit(AddForm)" href="javascript:void(0)"
                               [ngClass]="{'disabled': !AddForm.form.valid || fileToUpload==null}"><span>Feltöltés</span></a>

                            <div [hidden]="!failed"
                                 class="alert alert-danger mt-3">
                                {{errorMessage}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <ul class="timeline col-12 col-sm-12 col-lg-8 col-md-11 ">
                <li *ngFor="let achievement of sortby('date') ">
                    <app-achievement [achievement]="achievement" [authority]="authority"
                                     (onRemove)="onDeleteAchievement($event)"></app-achievement>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-6 offset-lg-2 offset-md-3 offset-sm-3 offset-2 load-more">
            <a class="btn" *ngIf="!isLastPage" (click)="getAchievements()" href="javascript:void(0)"><span translate>BUTTON.more</span></a>
        </div>

    </div>
</div>

<app-footer></app-footer>
