<div class="timeline-badge">
    <img *ngIf="achievement.isLast" class="last-one" src="../../assets/achievement/cake.png" width="35"/>
    <img *ngIf="!achievement.isLast" src="../../assets/achievement/logo.png" width="35"/>
</div>
<div class="timeline-panel pl-md-5 pr-md-5 pl-lg-5 pr-lg-5 pb-4 pr-3">
    <div class="timeline-heading ">
        <div *ngIf=" authority =='admin'" class="row justify-content-end edit">
            <a class="col-2" (click)="openContent(EditForm)">
                <mat-icon class="update-icon">edit</mat-icon>
            </a>
            <a class="col-2" (click)="delete(achievement.id)">
                <mat-icon class="update-icon">delete</mat-icon>
            </a>
        </div>
        <div class="row timeline-title p-md-3 p-lg-3 pt-md-3 pt-lg-3 pb-3 pr-2">
            <p id="timeline-location" class="pl-3 pl-md-0 pl-lg-0 pt-md-3 pt-lg-3 pt-1 " translate
               [translateParams]="{ location_hu: achievement.location_hu, location_en: achievement.location_en}">
                ACHIEVEMENTS.location</p>
            <p class="pt-lg-3 pl-3 pt-1 pt-md-3" translate
               [translateParams]="{ title_hu: achievement.title_hu, title_en: achievement.title_en}">
                ACHIEVEMENTS.title </p>
        </div>
        <div class=" .d-block .d-md-none row col-12 date pt-lg-3 pt-md-3 mb-2 align-items-center">
            <mat-icon>calendar_today</mat-icon>
            <p class="pl-1" >{{achievement.date | date:'yyyy.MM.dd'}}</p>
        </div>
    </div>
    <!--
    <div class="timeline-body pt-3" >
        <p translate [translateParams]="{description_hu: achievement.description_hu, description_en: achievement.description_en}">ACHIEVEMENTS.description</p>
    </div>
    -->
    <a *ngIf="achievement.picture" class="img">
        <div *ngIf="achievement.place_hu" class="img__overlay place" translate
             [translateParams]="{place_hu: achievement.place_hu, place_en: achievement.place_en}">ACHIEVEMENTS.place
        </div>
        <img [src]="achievement.picture"/>
    </a>
</div>

<ng-template #EditForm let-modal>
    <div class="modal-header">
        <h2 class="title mb-2 mt-4">Hír módosítása</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pb-5">
        <form #Form="ngForm">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="MAGYAR" class="pt-3">
                    <div class="container p-3 ">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group">
                                    <mat-form-field >
                                        <input matInput name="location_hu" maxlength="50" minlength="2" type="text" id="location_hu"
                                               [(ngModel)]="form.location_hu" required placeholder="Helyszín">
                                        <mat-error>Kötelező mező</mat-error>
                                        <mat-hint>Város vagy ország neve</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field >
                                        <input matInput name="place_hu" type="text" id="place_hu"
                                               [(ngModel)]="form.place_hu" required placeholder="Helyezés">
                                        <mat-error>Kötelező mező</mat-error>
                                        <mat-hint>Példa: 1. helyezés</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group">
                                    <mat-form-field >
                                        <input matInput maxlength="50" minlength="2" name="title_hu" type="text" id="title_hu"
                                               [(ngModel)]="form.title_hu" required placeholder="Verseny/rendezvény neve">
                                        <mat-error>Kötelező mező</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="ANGOL" class="pt-3">
                    <div class="container p-3 ">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group">
                                    <mat-form-field >
                                        <input matInput maxlength="50" minlength="2" name="location_en" type="text" id="location_en"
                                               [(ngModel)]="form.location_en" required placeholder="Location">
                                        <mat-error>Required field</mat-error>
                                        <mat-hint>Name of city or country</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field >
                                        <input matInput name="place_en" type="text" id="place_en"
                                               [(ngModel)]="form.place_en" required placeholder="Place">
                                        <mat-error>Required field</mat-error>
                                        <mat-hint>Example: 4th place</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group">
                                    <mat-form-field >
                                        <input matInput maxlength="50" minlength="2" name="title_en" type="text" id="title_en"
                                               [(ngModel)]="form.title_en" required placeholder="Title of achievement/competition">
                                        <mat-error>Required field</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

            <div class="row pl-3">
                <div class="col-md-6 col-lg-6 col-12">
                    <div class="form-group">
                        <mat-form-field >
                            <mat-label>Dátum</mat-label>
                            <input matInput [max]="maxDate" name="date" [matDatepicker]="date" [(ngModel)]="form.date" id="date">
                            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                            <mat-datepicker #date></mat-datepicker>
                            <!--                                        <mat-hint>Üresen hagyva a mai dátummal lesz elmentve</mat-hint>-->
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-12">
                    <div class="form-group pt-4 pb-3">
                        <label for="file">Kép</label>
                        <input type="file"
                               id="file"
                               [(ngModel)]="form.file" name="file"
                               (change)="handleFileInput($event.target.files)">
                    </div>
                </div>
            </div>
            <div class="row justify-content-end pr-3">
                <a class="btn" (click)="onSubmit(EditForm, achievement.id)"
                   href="javascript:void(0)"><span>Feltöltés</span></a>

                <div [hidden]="!failed"
                     class="alert alert-danger mt-3">
                    {{errorMessage}}
                </div>
            </div>
        </form>
    </div>
</ng-template>

