
    <div class="timeline-badge">
        <img *ngIf="achievement.isLast" class="last-one" src="../../assets/achievement/cake.png"  width="35"   />
        <img *ngIf="!achievement.isLast"  src="../../assets/achievement/logo.png"  width="35"/>
    </div>
    <div class="timeline-panel pl-5 pr-5 pb-5">
        <div class="timeline-heading ">
            <div  *ngIf=" authority =='admin'" class="row justify-content-end edit">
                <a class="col-1"  (click)="openContent(EditForm)"><mat-icon class="update-icon">edit</mat-icon></a>
                <a class="col-1" (click)="delete(achievement.id)" ><mat-icon class="update-icon">delete</mat-icon></a>
            </div>
            <div class="row timeline-title p-3 ">
                <p id="timeline-location" class="pr-3 pt-3" translate [translateParams]="{ location_hu: achievement.location_hu, location_en: achievement.location_en}">
                    ACHIEVEMENTS.location</p>
                <p  class="pt-3" translate [translateParams]="{ title_hu: achievement.title_hu, title_en: achievement.title_en}">ACHIEVEMENTS.title </p>
            </div>
            <div class=" .d-block .d-md-none row col-12 date mt-2 mb-2 align-items-center">
                <mat-icon>calendar_today</mat-icon>
                <p class="pl-1" translate [translateParams]="{date: achievement.date}">ACHIEVEMENTS.date</p>
            </div>
        </div>
        <!--
        <div class="timeline-body pt-3" >
            <p translate [translateParams]="{description_hu: achievement.description_hu, description_en: achievement.description_en}">ACHIEVEMENTS.description</p>
        </div>
        -->
        <a *ngIf="achievement.picture" class="img">
            <div *ngIf="achievement.place_hu" class="img__overlay place" translate [translateParams]="{place_hu: achievement.place_hu, place_en: achievement.place_en}">ACHIEVEMENTS.place</div>
            <img  [src]="achievement.picture"/>
        </a>
    </div>

    <ng-template #EditForm let-modal>
        <div class="modal-header">
            <h2 class="title mb-2 mt-4">Hír módosítása</h2>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pb-5">
            <form  #loginForm="ngForm">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="location">Helyszín (hu)</label>
                            <input type="text" class="form-control" id="location"
                                   required
                                   [(ngModel)]="form.location" name="location"
                                   [ngClass]="{'failed': failed }">

                        </div>
                        <div class="form-group">
                            <label for="title">Verseny/eredmény neve (hu)</label>
                            <input type="text" class="form-control" id="title"
                                   required
                                   [(ngModel)]="form.title" name="title"
                                   [ngClass]="{'failed': failed }">

                        </div>
                        <div class="form-group">
                            <label for="location_en">Helyszín (en))</label>
                            <input type="text" class="form-control" id="location_en"
                                   required
                                   [(ngModel)]="form.location_en" name="location_en"
                                   [ngClass]="{'failed': failed }">

                        </div>
                        <div class="form-group">
                            <label for="title_en">Verseny/eredmény neve (en)</label>
                            <input type="text" class="form-control" id="title_en"
                                   required
                                   [(ngModel)]="form.title_en" name="title_en"
                                   [ngClass]="{'failed': failed }">

                        </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="place_hu">Helyezés (hu)</label>
                            <input type="text" class="form-control" id="place_hu"
                                   required
                                   [(ngModel)]="form.place_hu" name="place_hu"
                                   [ngClass]="{'failed': failed }">

                        </div>
                        <div class="form-group">
                            <label for="place_en">Helyezés (en) </label>
                            <input type="text" class="form-control" id="place_en"
                                   required
                                   [(ngModel)]="form.place_en" name="place_en"
                                   [ngClass]="{'failed': failed }">

                        </div>

                        <div class="form-group">
                            <label for="date">Dátum</label>
                            <input type="text" class="form-control" id="date"
                                   required
                                   [(ngModel)]="form.date" name="date"
                                   [ngClass]="{'failed': failed }">

                        </div>
                        <div class="form-group pt-4 pb-3">
                            <label for="file">Kép</label>
                            <input type="file"
                                   id="file"
                                   [(ngModel)]="form.file" name="file"
                                   (change)="handleFileInput($event.target.files)">
                        </div>

                    </div>
                </div>

                <a class="btn" (click)="onSubmit(EditForm, achievement.id)" href="javascript:void(0)" ><span>Feltöltés</span></a>

                <div [hidden]="!failed"
                     class="alert alert-danger mt-3">
                    {{errorMessage}}
                </div>

            </form>
        </div>
    </ng-template>

