div.graph {
  max-width: 100px;
  max-height: 100px;
}
div.jumbotron {
  max-height: 300px;
}
table {
  font-family: "KelsonSans-Light";
  background-color: #f3f4f4;
}
thead,
tbody {
  width: 100%;
  display: inline-block;
}

tbody {
  height: 250px;

  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}
