<app-nav-bar></app-nav-bar>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Dátum</label>
  </div>
  <select [(ngModel)]="selectedDate" (change)="dateChanged()">
    <option *ngFor="let item of dates" [ngValue]="item">
      {{ item.value }}
    </option>
  </select>
</div>
<button class="d-flex" (click)="setShow()">Show</button>
<div *ngIf="show">
  <button>
    <a href="{{ BASE_URL }}">Összes letöltése</a>
  </button>
  <button>
    <a href="{{ EXPORT_URL }}">Kiválasztott letöltése</a>
  </button>
  <button (click)="deleteById(selectedDate.name)">
    Kiválasztott törlése
  </button>
  <button (click)="deleteAll()">
    Összes törlése
  </button>
</div>
<app-bar-chart [data]="soc"></app-bar-chart>
<app-bar-chart [data]="temp"></app-bar-chart>

<app-graph [data]="battery"></app-graph>

<app-graph [data]="motor"></app-graph>
<app-graph [data]="tilt"></app-graph>
<app-graph [data]="compass"></app-graph>
<app-graph [data]="acceleration"></app-graph>

<app-footer></app-footer>
