<app-nav-bar></app-nav-bar>
<div class="justify-content-center d-flex users">
  <div class="col-10">

      <h1 class="title mt-5 mb-5">Felhasználók</h1>
      <a class="btn " href="javascript:void(0)"  routerLink="/signup">
        <span>Új felhasználó</span>
      </a>

    <div class="justify-content-center d-flex">
      <table class="col-12 m-5">
        <tr>
          <th class="col-3">Név</th>
          <th class="col-3">Felhasználónév</th>
          <th class="col-3">E-mail</th>
          <th class="col-3">Szerepkörök</th>
          <th class="col-1"></th>
        </tr>
        <tr *ngFor="let user of users">
          <td class="col-3">{{ user.name }}</td>
          <td class="col-3">{{ user.username }}</td>
          <td class="col-3">{{ user.email }}</td>
          <td class="col-3">
            <p *ngFor="let role of user.roles">{{ role }}</p>
          </td>
          <td class="col-3" (click)="open(content, user.id)"><i class="fas fa-edit p-2"></i></td>
          <td class="col-3" (click)="confirmDelete(user.id, user.name)">
            <i class="fas fa-trash p-2"></i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="p-3">
  <div class="modal-header">
    <h4 class="modal-title">Felhasználó</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <label for="name">Név</label>
  <textarea
    required
    id="name"
    class="form-control"
    [(ngModel)]="selectedUser.name"
  >
  </textarea>

  <label for="username">Felhasználónév</label>
  <input
    required
    id="username"
    type="text"
    class="form-control"
    [(ngModel)]="selectedUser.username"
  />
  <label for="email">Email</label>
  <input
    required
    id="email"
    type="text"
    class="form-control"
    [(ngModel)]="selectedUser.email"
  />
  <label for="admin">Admin?</label>
  <input
    type="checkbox"
    id="admin"
    name="admin"
    [(ngModel)]="this.isAdmin"
    [checked]="this.isAdmin"
  />
  <div class="row">
  <label for="editor">Szerkesztő?</label>
  <input
    type="checkbox"
    id="editor"
    name="editor"
    [(ngModel)]="this.isEditor"
    [checked]="this.isEditor"
  />
</div>

  <div class="modal-footer">
    <button type="submit" class="brk-btn" (click)="submit()">Mentés</button>
    <button type="cancel" class="brk-btn" (click)="close()">Mégsem</button>
  </div>
</div>
</ng-template>
<app-footer></app-footer>