th {
  font-family: "KelsonSans-Bold";
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
  padding-top: 5%;
  line-height: 100%;
}

td {
  font-family: "Helvetica";
  font-size: 1rem;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.fas:hover {
  color: grey;
  cursor: pointer;
}
