<app-nav-bar></app-nav-bar>
<app-team-userview *ngIf="authority != 'admin'"></app-team-userview>
<div *ngIf="authority == 'admin'" class="team">
    <div class="container col-12 col-sm-12 col-lg-10 col-md-11 align-items-center">
        <div class="jumbotron col-12">
            <h1 translate class="title pb-4">TEAM.team</h1>
            <div class="p-3"></div>
            <mat-tab-group *ngIf="authority == 'admin'" mat-align-tabs="start">
                <mat-tab label="{{'TEAM.userview' | translate}}" class="pt-3">
                    <app-team-userview></app-team-userview>
                </mat-tab>

                <mat-tab label="{{'TEAM.editmembers' | translate}}" class="pt-3">
                    <app-team-editmembers></app-team-editmembers>
                </mat-tab>

                <mat-tab label="{{'TEAM.editteams' | translate}}" class="pt-3">
                    <app-team-editgroups></app-team-editgroups>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<app-footer></app-footer>

