<app-nav-bar></app-nav-bar>

<div class="team-boss">
    <div class="container col-10 col-sm-12 col-lg-10 col-md-11 align-items-center">
        <div class="jumbotron col-12">
            <h1 class="title pb-4">vezetőség</h1>



        </div>
    </div>
</div>
<div class="team-electr">
    <div class="container col-10 col-sm-12 col-lg-10 col-md-11 align-items-center">
        <div class="jumbotron col-12">
            <h1 class="title pb-4">elektronikai csoport</h1>
            <div class="col- load-more pb-5">
                <a class="btn"  href="javascript:void(0)"><span>Tudj meg többet</span></a>
            </div>

            <div class="d-flex flex-row members mb-3 justify-content-center flex-wrap">
                <div class="d-flex flex-column flex-wrap col-5 col-sm-4 col-md-3 p-1">
                    <img
                            class="rounded-circle p-0 img-fluid flex-grow-0 flex-shrink-0 d-flex"
                            src="../../assets/members/czibere-szilard.jpg"
                    />
                    <div class="text-center font-weight-bold leader">
                        Czibere
                        <br />
                        Szilárd
                        <div class="post">im the boss</div>
                    </div>
                </div>

                <div class="d-flex flex-column col-4 col-sm-2 col-md-2 p-1 member pt-5">
                    <img class="rounded-circle p-0 img-fluid" src="../../assets/members/czibere-szilard.jpg" />
                    <div class="text-center">
                        vezeteknev
                        <br />
                        keresztnev
                    </div>

                    <div class="text-center leader post">ez mi</div>
                </div>
                <div class="d-flex flex-column col-4 col-sm-2 col-md-2 p-1 member pt-5">
                    <img class="rounded-circle p-0 img-fluid" src="../../assets/members/czibere-szilard.jpg" />
                    <div class="text-center">
                        vezeteknev
                        <br />
                        keresztnev
                    </div>

                    <div class="text-center leader post">ez mi</div>
                </div>
                <div class="d-flex flex-column col-4 col-sm-2 col-md-2 p-1 member pt-5">
                    <img class="rounded-circle p-0 img-fluid" src="../../assets/members/czibere-szilard.jpg" />
                    <div class="text-center">
                        vezeteknev
                        <br />
                        keresztnev
                    </div>

                    <div class="text-center leader post">ez mi</div>
                </div>
                <div class="d-flex flex-column col-4 col-sm-2 col-md-2 p-1 member pt-5">
                    <img class="rounded-circle p-0 img-fluid" src="../../assets/members/czibere-szilard.jpg" />
                    <div class="text-center">
                        vezeteknev
                        <br />
                        keresztnev
                    </div>

                    <div class="text-center leader post">ez mi</div>
                </div>


            </div>

        </div>
    </div>
</div>
<div class="team-econ">
    <div class="container col-10 col-sm-12 col-lg-10 col-md-11 align-items-center">
        <div class="jumbotron col-12">
            <h1 class="title pb-4">gazdasági csoport</h1>
            <div class="col- load-more ">
                <a class="btn"  href="javascript:void(0)"><span>Tudj meg többet</span></a>
            </div>


        </div>
    </div>
</div>
<div class="team-mech">
    <div class="container col-10 col-sm-12 col-lg-10 col-md-11 align-items-center">
        <div class="jumbotron col-12">
            <h1 class="title pb-4">GÉPÉSZETI CSOPORT</h1>
            <div class="col- load-more ">
                <a class="btn"  href="javascript:void(0)"><span>Tudj meg többet</span></a>
            </div>


        </div>
    </div>
</div>

<app-footer></app-footer>

