<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" translate>STATISTICS.average</th>
        <th scope="col" translate>STATISTICS.maximum</th>
        <th scope="col" translate>STATISTICS.minimum</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let data of datas">
        <th scope="row">{{data.name}}</th>
        <td>{{data.average}}</td>
        <td>{{data.max}}</td>
        <td>{{data.min}}</td>
      </tr>
    </tbody>
  </table>