<div class="aboutus">
    <div class="container col-md-11 col-lg-11 col-12 align-items-right offset-md-1 offset-lg-1 offset-0">
        <div class="jumbotron col-12  align-self-center">
            <h1  translate class="title pb-md-5 pb-lg-5 pb-3">ABOUT_US.about_us</h1>
            <div class="row align-items-center">
                <div class="description col-md-12 col-lg-6 col-sm-12 col-12 pl-5">
                    <p translate class="pb-lg-4 pb-md-4 pb-2 animate-me fade-up" >ABOUT_US.beginning</p>
                    <div  class="row pb-lg-4 pb-md-4 pb-2 animate-me fade-up">
<!--                    <div id="gpk" [@flyIn]="isVisible('gpk')" class="row pb-lg-4 pb-md-4 pb-2">-->
                        <img class="col-2 col-md-2 col-sm-3" src="../../assets/mainpage/aboutus/kari-logok/gpk.png" alt="logo" title="logo" />
                        <p translate class="col">ABOUT_US.GPK</p>
                    </div>
                    <div  class="row pb-lg-4 pb-md-4 pb-2 animate-me fade-up">
                        <img class="col-2 col-md-2  col-sm-3" src="../../assets/mainpage/aboutus/kari-logok/kjk.png" alt="logo" title="logo" />
                        <p translate class="col">ABOUT_US.KJK</p>
                    </div>
                    <div   class="row pb-lg-4 pb-md-4 pb-2 animate-me fade-up">
                        <img class="col-2 col-md-2  col-sm-3" src="../../assets/mainpage/aboutus/kari-logok/vik.png" alt="logo" title="logo" />
                        <p translate class="col">ABOUT_US.VIK</p>
                    </div>
                    <div  class="row pb-lg-4 pb-md-4 pb-2 animate-me fade-up">
                        <img class="col-2 col-md-2  col-sm-3" src="../../assets/mainpage/aboutus/kari-logok/gtk.png" alt="logo" title="logo" />
                        <p translate class="col">ABOUT_US.GTK</p>
                    </div>
<!--                    <p id="end" [@flyIn]="isVisible('end')? 'scrolledIntoView' : 'invisible'" translate class="pt-4">ABOUT_US.end</p>-->
                    <p  translate class="pt-4 animate-me fade-up">ABOUT_US.end</p>
                </div>

                <div class="col ml-0 ml-md-5 ml-lg-5">
                    <img class="col-12 pb-5 animate-me fade-up" src="../../assets/mainpage/aboutus/aboutus1.jpg" alt="logo" title="logo" />
                    <img class="col-12 second-pic animate-me fade-up" src="../../assets/mainpage/aboutus/aboutus2.jpg" alt="logo" title="logo" />
                </div>
            </div>
        </div>
    </div>
</div>

