div.aboutus {
    background-color: #f3f4f4;
}

.jumbotron {
    background: none;
    margin: 0;
}

.description p {
    font-family: "Helvetica";
    font-size: 1rem;
    line-height: 1.5;
}

img {
    height: 100%;
}

p {
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .description {
        padding-left: 0px !important;
    }

    p {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .second-pic {
        position: absolute;
        visibility: hidden;
        z-index: 0;
    }
}
.animate-me.animated {
    animation: anim .7s ease-out;
}

@keyframes anim {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
