<div class="aboutus">
    <div class="container col-11 align-items-right offset-md-1">
        <div class="jumbotron col-12  align-self-center">
            <h1 class="title pb-5">rólunk</h1>
            <div class="row align-items-center">

                <div class="description col-md-12 col-lg-6 col-sm-12 col-12 pl-5">
                    <p class="pb-4">2014-ben a Gépészmérnöki Kar három gépészmérnök hallgatója alapította BME Solar Boat Team csapatot, mely azzal a céllal jött létre, hogy egy kizárólag napenergiával működő, ember által vezetett, teljesen elektromos hajtású versenyhajót tervezzen és építsen, és ezzel a járművel 2016-ban a Hollandiában és Monte-Carlóban megrendezésre kerülő Dutch Solar Challenge Világbajnokság és Solar 1 Races megmérettetésein sikerrel szálljon versenybe.</p>
                    <div class="row pb-4 ">
                        <img class="col-2 col-md-2 col-sm-3" src="../../assets/mainpage/aboutus/kari-logok/gpk.png" alt="logo" title="logo" />
                        <p class="col">A projekthez csatlakoztak továbbá a Gépészmérnöki Karról mechatronikai mérnök és gépészmérnök hallgatók, akik az elektronikai rendszerek szoftveres támogatásán, a hajótest gyártástechnológiáján, a CFD szimulációkon, valamint a kormányzási és hajtásrendszeren dolgoztak.</p>
                    </div>
                    <div class="row pb-4 ">
                        <img class="col-2 col-md-2  col-sm-3" src="../../assets/mainpage/aboutus/kari-logok/kjk.png" alt="logo" title="logo" />
                        <p class="col">A Közlekedésmérnöki és Járműmérnöki Karról további négy hallgató érkezett, akik a tervezésben és megvalósításban segédkeztek; a közlekedésmérnökök feladata a hajótest és a hydrofoil tervezése volt, valamint megfelelő szállítókocsi tervezése a jármű közúti mozgatásához.</p>
                    </div>
                    <div class="row pb-4 ">
                        <img class="col-2 col-md-2  col-sm-3" src="../../assets/mainpage/aboutus/kari-logok/vik.png" alt="logo" title="logo" />
                        <p class="col">A Villamosmérnöki és Informatikai Karról is érkeztek hallgatók, akik a hajó elektronikai rendszerének összeállításán: az akkumulátor és napelem rendszer, a teljesítményelektronikai berendezések, valamint a villamos hajtás tervezésében játszottak kulcsszerepet.</p>
                    </div>
                    <div class="row pb-4 ">
                        <img class="col-2 col-md-2  col-sm-3" src="../../assets/mainpage/aboutus/kari-logok/gtk.png" alt="logo" title="logo" />
                        <p class="col">A későbbiekben, ahogy a csapat egyre jobban kinőtte magát, a Gazdaság- és Társadalomtudományi Karról is érkeztek hallgatók, akik a marketing és gazdasági ügyek lebonyolításával foglalkoztak.</p>
                    </div>
                    <p class="pt-4">A jelen tervezési és építési feladatai mellett a jövőre is figyelmet fordítunk - versenycsapatunkat hosszú távú céllal hoztuk létre; reményeink szerint kezdeményezésünkkel egy olyan tudásbázis és infrastruktúra jön létre, melyre építve éveken keresztül működik majd a csapat, a mérnökhallgatók újabb és újabb generációját bevonva az elektromos járműépítés világába.</p>
                </div>

                <div class="col ml-5">
                    <img class="col-12 pb-5" src="../../assets/mainpage/aboutus/aboutus1.jpg" alt="logo" title="logo" />
                    <img class="col-12" src="../../assets/mainpage/aboutus/aboutus2.jpg" alt="logo" title="logo" />
                </div>
            </div>
        </div>
    </div>
</div>

