div.aboutus {
  background-color: #f3f4f4;
}
.jumbotron {
  background: none;
  margin: 0;
}
.description p {
  font-family: "Helvetica";
  font-size: 1rem;
  line-height: 1.5;
}
img {
  height: 100%;
}
p{
  text-align: justify;
}
