<p>mainpage-news works!</p>
<button (click)="getNews()">Get</button>
<button (click)="postNews()">Post</button>
<button (click)="putNews()">Put</button>
<button (click)="deleteNews()">Delete</button>
<button (click)="handleClick($event)" type="button">Button</button>

<div class="mainpage-news">
    <div class="container col-10 align-items-center">
        <div class="jumbotron col-12">
            <h1 class="title pb-5">hírek</h1>
            <a class="btn white" href="https://eutraveltech.eu/about-us/" target=""><span>összes hír</span></a>


            <div class="home-news-container center flex">

            </div>

        </div>
    </div>
</div>
