<div class="mainpage-news">
  <div class="container col-10 align-items-center">
    <div class="jumbotron col-12">
      <h1 translate class="title pb-4">NEWS.news</h1>
      <a class="btn white" routerLink="/news" target=""
        ><span translate>NEWS.all_news</span></a
      >
      <div class="container col-lg-10 col-md-12 col-12 col-sm-12 mt-5">
        <div class="row justify-content-between">
          <app-news-preview
            *ngFor="let news of allnews"
            [news]="news"
            class="col-lg-6 col-md-6 col-10 col-sm-12"
          ></app-news-preview>
        </div>
      </div>
    </div>
  </div>
</div>
