<div class="team-boss">
    <div class="container col-12 col-sm-12 col-lg-10 col-md-11 align-items-center">
        <div class="jumbotron col-12">
            <h1 translate class="title pb-4"
                [translateParams]="{ management_hu: leaders.name_hu, management_en: leaders.name_en}">
                MEMBERS.management</h1>
            <app-team-members *ngIf="leaders.members"
                              [members]="leaders.members"
                              [leader]="leaders.leader"
                              [isLeader]="true"
                              class="col-lg-6 col-md-6 col-12 col-sm-12"
            ></app-team-members>
        </div>
    </div>
</div>
<div class="team-electr">
    <div class="container col-12 col-sm-12 col-lg-10 col-md-11 align-items-center">
        <div class="jumbotron col-12">
            <h1 translate class="title pb-4"
                [translateParams]="{ electronic_hu: electronics.name_hu, electronic_en: electronics.name_en}">
                MEMBERS.electronic</h1>
            <div class="row">
                <div class="col- load-more pb-lg-5 pb-md-5 pb-1 pl-3">
                    <a class="btn" data-toggle="collapse" data-target="#collapseElectr" href="javascript:void(0)"><span
                            translate>BUTTON.description</span></a>
                </div>
                <div class="collapse col-lg-6 col-md-6 col-sm-12" id="collapseElectr">
                    <div translate class="description col- pl-lg-5 pb-lg-4 pb-md-4 pb-0"
                         [translateParams]="{ electronic_desc_hu: electronics.description_hu, electronic_desc_en: electronics.description_en}">
                        MEMBERS.electronicDesc
                    </div>
                </div>
            </div>

            <app-team-members *ngIf="electronics.members"
                              [members]="electronics.members"
                              [leader]="electronics.leader"
                              class="col-lg-6 col-md-6 col-12 col-sm-12"
            ></app-team-members>


        </div>
    </div>
</div>
<div class="team-econ">
    <div class="container col-12 col-sm-12 col-lg-10 col-md-11 align-items-center">
        <div class="jumbotron col-12">
            <h1 translate class="title pb-4"
                [translateParams]="{ economic_hu: economics.name_hu, economic_en: economics.name_en}">
                MEMBERS.economic</h1>
            <div class="row">
                <div class="load-more pb-lg-5 pb-md-5 pb-1 pl-3">
                    <a class="btn" data-toggle="collapse" data-target="#collapseEcon" href="javascript:void(0)">
                        <span translate>BUTTON.description</span>
                    </a>
                </div>
                <div class="collapse col-lg-6 col-md-6 col-sm-12" id="collapseEcon">
                    <div translate class="description col- pl-lg-5"
                         [translateParams]="{ economic_desc_hu: economics.description_hu, economic_desc_en: economics.description_en}">
                        MEMBERS.economicDesc
                    </div>
                </div>
            </div>
            <app-team-members *ngIf="economics.members"
                              [members]="economics.members"
                              [leader]="economics.leader"
                              class="col-lg-6 col-md-6 col-12 col-sm-12"
            ></app-team-members>
        </div>
    </div>
</div>
<div class="team-mech">
    <div class="container col-12 col-sm-12 col-lg-10 col-md-11 align-items-center">
        <div class="jumbotron col-12">
            <h1 translate class="title pb-4"
                [translateParams]="{ mechanical_hu: mechatronics.name_hu, mechanical_en: mechatronics.name_en}">
                MEMBERS.mechanical</h1>
            <div class="row">
                <div class="col- load-more pb-5 pl-3">
                    <a class="btn" data-toggle="collapse" data-target="#collapseMech" href="javascript:void(0)"><span
                            translate>BUTTON.description</span></a>
                </div>
                <div class="collapse col-lg-6 col-md-6 col-sm-12 " id="collapseMech">
                    <div translate class="description col- pl-lg-5 pb-1"
                         [translateParams]="{ mechanical_desc_hu: mechatronics.description_hu, mechanical_desc_en: mechatronics.description_en}">
                        MEMBERS.mechanicalDesc
                    </div>
                    <div translate class="description col- pl-lg-5 pb-1"
                         [translateParams]="{ material_desc_hu: mechatronicsMaterial.description_hu, material_desc_en: mechatronicsMaterial.description_en}">
                        MEMBERS.materialDesc
                    </div>
                    <div translate class="description col- pl-lg-5 pt-0"
                         [translateParams]="{ simulation_desc_hu: mechatronicsSimulation.description_hu, simulation_desc_en: mechatronicsSimulation.description_en}">
                        MEMBERS.simulationDesc
                    </div>
                </div>
            </div>

            <h2 translate class="title subtitle pb-lg-4 pb-md-4 pb-1 "
                [translateParams]="{ material_hu: mechatronicsMaterial.name_hu, material_en: mechatronicsMaterial.name_en}">
                MEMBERS.material</h2>
            <app-team-members *ngIf="mechatronicsMaterial.members"
                              [members]="mechatronicsMaterial.members"
                              [leader]="mechatronicsMaterial.leader"
                              class="col-lg-6 col-md-6 col-12 col-sm-12"
            ></app-team-members>


            <h2 translate class="title subtitle pb-lg-4 pb-md-4 pb-1"
                [translateParams]="{ simulation_hu: mechatronicsSimulation.name_hu, simulation_en: mechatronicsSimulation.name_en}">
                MEMBERS.simulation</h2>
            <app-team-members *ngIf="mechatronicsSimulation.members"
                              [members]="mechatronicsSimulation.members"
                              [leader]="mechatronicsSimulation.leader"
                              class="col-lg-6 col-md-6 col-12 col-sm-12"
            ></app-team-members>

        </div>
    </div>
</div>


