<div class="d-flex flex-row members mb-3 justify-content-center flex-wrap">
    <div class="d-flex flex-column flex-wrap col-lg-3 col-sm-4 col-md-3 p-2 ml-2 leader  pl-5 pr-4">
        <img *ngIf="leader.linkedin === 'string'" class="rounded-circle p-0 img-fluid flex-grow-0 flex-shrink-0 d-flex" [src]="'../../assets/members/'+leader.picture+'.jpg'"/>
        <a *ngIf="leader.linkedin !== 'string' " class="img" [href]="leader.linkedin" target="blank" >
            <div class="img__overlay"><i class="fab fa-linkedin-in left"></i></div>
            <img  [src]="'../../assets/members/'+leader.picture+'.jpg'"/>
        </a>
        <div translate class="text-center name" [translateParams]="{ leader_lastName: leader.lastName, leader_firstName: leader.firstName}">
            MEMBERS.leader_first
            <br />
            MEMBERS.leader_last

        </div>
        <div translate *ngIf="isLeader" class="text-center post" [translateParams]="{ job_hu: leader.job_hu, job_en: leader.job_en}">
            MEMBERS.job
        </div>
    </div>

    <div *ngFor="let member of members" class="d-flex flex-column col-lg-2 col-sm-2 col-md-2 p-2 member justify-content-center">
        <img *ngIf="member.linkedin === 'string' " class="rounded-circle p-0 img-fluid flex-grow-0 flex-shrink-0 d-flex" [src]="'../../assets/members/'+member.picture+'.jpg'"/>
        <a *ngIf="member.linkedin !== 'string' " class="img" [href]="member.linkedin" target="blank" >
            <div class="img__overlay"><i class="fab fa-linkedin-in left"></i></div>
            <img  [src]="'../../assets/members/' + member.picture + '.jpg'"/>
        </a>

        <div translate class="text-center name" [translateParams]="{ member_lastName: member.lastName, member_firstName: member.firstName}">
            MEMBERS.member_first
            <br />
            MEMBERS.member_last
        </div>

        <div translate *ngIf="isLeader" class="text-center post " [translateParams]="{ job_hu: member.job_hu, job_en: member.job_en}">
            MEMBERS.job
        </div>
    </div>

</div>
