div.news {
  background-color: #f3f4f4;
}
.jumbotron {
  background: none;
  margin-bottom: 0;
}
#news-form{
  background: white;
  background-color: white;
  padding: 3%;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
}
textarea{
  height: 100%;
}


