<app-nav-bar></app-nav-bar>

<div class="news">
  <div
    class="container col-10 col-sm-12 col-lg-10 col-md-11 align-items-center"
  >
    <div class="jumbotron col-12">
      <h1 class="title pb-4">hírek</h1>

      <div class="container col-lg-10 col-md-12 col-12 col-sm-12 mt-5">
        <div class="row justify-content-between">
          <app-news-preview
            *ngFor="let news of allnews"
            [news]="news"
            class="col-lg-6 col-md-6 col-10 col-sm-12"
          ></app-news-preview>
        </div>
      </div>

      <div
        class="col-sm-6 col-md-6 col-lg-3 offset-lg-2 offset-md-3 offset-sm-3 load-more"
      >
        <a class="btn" *ngIf="!isLastPage" (click)="getNews()"
          ><span>Továbbiak betöltése</span></a
        >
      </div>

      <button (click)="getNews()">Get</button>

      <button (click)="postNews()">Post</button>
      <button (click)="putNews()">Put</button>
      <button (click)="deleteNews()">Delete</button>
      <button (click)="handleClick($event)" type="button">Button</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
