<a class="card lift  mb-md-5 mr-md-3 ml-md-3 mb-lg-5 mr-lg-3 ml-lg-3 mr-0 ml-0 mb-5">
    <div class="card-body m-3">
        <div *ngIf="authority=='admin'" class="row justify-content-end">
            <a class="col-2" (click)="openContent(Edit, true)">
                <mat-icon class="update-icon bigger-icon">edit</mat-icon>
            </a>
            <a class="col-2" (click)="delete(news.id)">
                <mat-icon class="update-icon bigger-icon">delete</mat-icon>
            </a>
        </div>
        <div (click)="openContent(longContent, news.content_hu.length > 650)">
            <h2 id="news-title" translate class="title mb-2 mt-4"
                [translateParams]="{ title_hu: news.title_hu, title_en: news.title_en}">NEWS.title</h2>
            <div class="row date col-12 date mt-2 mb-2 align-items-center">
                <mat-icon class="bigger-icon">calendar_today</mat-icon>
                <div class="pl-1">{{news.date| date:'yyyy.MM.dd'}}</div>
            </div>
            <div class="text-wrap col-12 p-0">
                <p translate class="card-text mt-3 text-break"
                   [translateParams]="{ shortArticle_en: shortArticleEn, shortArticle_hu: shortArticleHu}">
                    NEWS.shortArticle</p>
            </div>
            <div class="arrow-read col-md-6 offset-md-6 col-lg-6 offset-lg-6 col-10 offset-2 p-0 mt-4 d-none  d-lg-block">
                <div translate class="read-more m-0">
                    <mat-icon class="bigger-icon" aria-hidden="false">arrow_right_alt</mat-icon>
                    BUTTON.readAllNews
                </div>
            </div>
            <div *ngIf="news.pictures && news.pictures.length>0" class="row mt-4 align-items-center">
                <div class="col-12 single-picture">
                    <img [src]="news.pictures[0]" alt="logo" title="logo"/>
                </div>
            </div>
<!--            <mdb-carousel *ngIf="news.pictures.length>0">-->
<!--                <mdb-carousel-item>-->
<!--                    <img class="d-block w-100" [src]="news.pictures[0]" alt="First slide">-->
<!--                </mdb-carousel-item>-->
<!--            </mdb-carousel>-->
        </div>
    </div>

</a>

<ng-template #longContent let-modal >
    <div class="modal-header">
        <h2 translate class="title mb-2 mt-4"
            [translateParams]="{ title_hu: news.title_hu, title_en: news.title_en}">NEWS.title</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pb-5">
        <div class="row date col-12 date mt-2 mb-2 align-items-center">
            <mat-icon class="bigger-icon">calendar_today</mat-icon>
            <div class="pl-1">{{news.date| date:'yyyy.MM.dd'}}</div>
        </div>
        <div class="">
            <!--                        <p translate class="card-text mt-3 text-break" [translateParams]="{ content_en: news.content_en, content_hu: news.content_hu}">NEWS.content</p>-->
            <div [innerHTML]="'NEWS.content' | translate: {content_en: news.content_en, content_hu: news.content_hu}"></div>
        </div>

<!--        <div *ngIf="news.picture" class="row mt-4 align-items-center">-->
<!--            <div class="col-12">-->
<!--                <img [src]="news.picture" alt="picture" title="picture"/>-->
<!--            </div>-->
<!--        </div>-->
        <mdb-carousel id="picture-slide" [animation]="'slide'"  [interval]="'0'" class="mt-4">
            <mdb-carousel-item *ngFor="let picture of news.pictures">
                <img class="d-block w-100" [src]="picture">
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</ng-template>

<ng-template #Edit let-modal id="edit-panel">
    <div class="modal-header">
        <h2 class="title mb-2 mt-4">Hír módosítása</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pb-5">
        <form #EditForm="ngForm">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="MAGYAR" class="pt-3">
                    <div class="container p-3 ">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group">
                                    <!--                                                    <label for="title">Cím</label>-->
                                    <!--                                                    <input type="text" class="form-control" id="title"-->
                                    <!--                                                           required-->
                                    <!--                                                           [(ngModel)]="form.title" name="title"-->
                                    <!--                                                           [ngClass]="{'failed': failed }">-->
                                    <mat-form-field [style.width.px]=400>
                                        <input matInput maxlength="50" minlength="2" name="title" type="text" id="title"
                                               [(ngModel)]="form.title" required placeholder="Cím">
                                        <mat-error>Kötelező mező</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <!--                                                    <label for="content">Tartalom</label>-->
                                    <angular-editor id="content"
                                                    required
                                                    [(ngModel)]="form.content"
                                                    name="content"
                                                    [config]="config"
                                    ></angular-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="ANGOL" class="pt-3">
                    <div class="container p-3 ">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-12">
                                <div class="form-group">
                                    <!--                                                    <label for="title_en">Title</label>-->
                                    <!--                                                    <input type="text" class="form-control" id="title_en"-->
                                    <!--                                                           required-->
                                    <!--                                                           [(ngModel)]="form.title_en" name="title_en"-->
                                    <!--                                                           [ngClass]="{'failed': failed }">-->
                                    <mat-form-field [style.width.px]=400>
                                        <input matInput maxlength="50" minlength="2" name="title_en" type="text" id="title_en"
                                               [(ngModel)]="form.title_en" required placeholder="Title">
                                        <mat-error>Kötelező mező</mat-error>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-12">
                                <div class="form-group">
                                    <!--                                                    <label for="content_en">Content</label>-->
                                    <angular-editor id="content_en"
                                                    required
                                                    [(ngModel)]="form.content_en"
                                                    name="content_en"
                                                    [config]="config"
                                    ></angular-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>

            <div class="row p-3 ">
                <div class="col-md-6 col-lg-6 col-12 pb-2">
                    <ngx-dropzone (change)="onSelectFile($event)">
                        <ngx-dropzone-label>Húzd ide a képet/képeket!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true"
                                              (removed)="onRemoveFile(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                </div>
                <div class="col-md-6 col-lg-6 col-12 pb-2">
                    <mat-card>Csak fektetett, jpg, jpeg és pgn fájltípus tölthető fel. Több kép esetén
                        használjuk azonos méretarányú képeket!
                    </mat-card>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-12 pb-2">
                <div class="form-group">
                    <mat-form-field >
                        <mat-label>Dátum</mat-label>
                        <input matInput [max]="maxDate" name="date" [matDatepicker]="date" [(ngModel)]="form.date" id="date">
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                        <mat-hint>Üresen hagyva az eredeti dátummal lesz elmentve</mat-hint>
                    </mat-form-field>

                </div>
            </div>


            <div class="row justify-content-end pr-2">
                <a class="btn" (click)="onSubmit(EditForm, news.id)" href="javascript:void(0)"
                   [ngClass]="{'disabled': !EditForm.form.valid }"><span>Feltöltés</span></a>
            </div>
        </form>
    </div>
</ng-template>

