
<a class="card lift  mb-5 mr-3 ml-3" (click)="openScrollableContent(longContent)">
    <div class="card-body m-3">
        <h2 class="title mb-2 mt-4">{{news.title_hu}}</h2>
        <div class="row date col-12 date mt-2 mb-2 align-items-center">
            <mat-icon>calendar_today</mat-icon>
            <div class="pl-1">2020.03.04</div>
        </div>
        <div class="text-wrap col-12 p-0">
            <p class="card-text mt-3 text-break">{{shortArticle_hu}}</p>
        </div>
        <div class="arrow-read col-md-6 offset-md-6 col-lg-6 offset-lg-6 col-10 offset-2  mt-4">
            <div class="read-more m-0"><mat-icon aria-hidden="false" >arrow_right_alt</mat-icon>TELJES HÍR OLVASÁSA</div>
        </div>
        <div *ngIf="news.picture" class="row mt-4 align-items-center">
            <div class="col-12">
                <img [src]="news.picture" alt="logo" title="logo"  />
            </div>
        </div>
    </div>

</a>

<ng-template #longContent let-modal>
    <div class="modal-header">
        <h2 class="title mb-2 mt-4">{{news.title_hu}}</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pb-5">
        <div class="row date col-12 date mt-2 mb-2 align-items-center">
            <mat-icon>calendar_today</mat-icon>
            <div class="pl-1">2020.03.04</div>
        </div>
        <div class="text-wrap col-12 p-0">
            <p class="card-text mt-3 text-break">{{news.content_hu}}</p>
        </div>
        <div *ngIf="news.picture" class="row mt-4 align-items-center">
            <div class="col-12">
                <img [src]="news.picture" alt="logo" title="logo"  />
            </div>
        </div>
    </div>
</ng-template>

