
#footer {
    width: 100%;
    color: white;
    background-color: #1B262F;

}

.contact {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mat-icon {
    transform: scale(1.3);
}


a, a:hover {
    color: white;
}

#footer i.fab:hover , #footer .mat-icon:hover, #footer img:hover{
    opacity: 0.7 ;
    cursor: pointer;
}
#footer .schdesign-logo img:hover{
    opacity: 1 ;
}

.links {
    padding-top: 2%;
}

.tooltip-inner {
    font-size: 1rem;
    background-color: white;
    color: black;
    font-family: 'Helvetica';
    margin-bottom: 10%;
}
.my-tooltip .arrow::before {
    border-top-color: transparent;
}
.madeby p{
    font-family: "Kelson Sans Light";
    font-size: 0.8rem;
    padding: 0;
    margin:0;
    opacity: 0.4;
}


