<div id="footer">
    <div class="contact text-center pt-5">
        <h1 class="cont2 pt-5">Elérhetőségek</h1>
        <div class="col-12 col-md-12">
            <button title="info@solarboatteam.hu" type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="info@solarboatteam.hu">
                Tooltip on top
            </button>
            <button title="+36-30-73-16-221" type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="+36-30-73-16-221">
                Tooltip on top
            </button>
            <mdb-icon fab icon="500px"></mdb-icon>
            <a href="https://www.instagram.com/bme_solar_team/?hl=hu" target="blank">
                <i title="instagram" class="fab fa-instagram fa-3x col-3 col-sm-2 col-md-1"></i>
            </a>
            <a href="https://www.facebook.com/BMEsolar/" target="blank">
                <i title="facebook" class="fab fa-facebook-square fa-3x col-3 col-sm-2 col-md-1"></i>
            </a>
        </div>
    </div>
    <div class="column text-center d-flex mb-1 justify-content-center">
        <div class="col-12 col-md-12 links">
            <a href="https://www.bme.hu/" target="blank">
                <img src="../../assets/footer-logo/bme-white.png" alt="BME" title="BME" class="col-4 col-sm-3 col-md-2" />
            </a>
            <a href="http://solarboatteam.hu/index.php" target="blank" class="boat">
                <img src="../../assets/footer-logo/solarboat-white.png" alt="Solar Boat" title="Solar Boat" class="col-3 col-sm-2 col-md-1" />
            </a>
            <a href="https://www.facebook.com/bmemvk/" target="blank">
                <img src="../../assets/footer-logo/mkv-white.png" alt="MKV" title="Műegyetemi Versenycsapat Közösség" class="col-4 col-sm-3 col-md-2" />
            </a>
        </div>
    </div>

    <div class="text-center pb-3 pt-5 schdesign">
        <a href="https://schdesign.hu/">
            <img src="../../assets/footer-logo/schdesign-white.png" title="designed by SchDesign" class="col-4 col-sm-4 col-md-2 schdesign-logo" />
        </a>
    </div>
</div>
