#footer {
    width: 100%;
    color: white;
    background-color: #1B262F;
}
.contact {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

a, a:hover {
    color: white;
}
.mat-icon {
    transform: scale(1.3);
    transition: transform 2s ease;
}
.mat-icon:hover {
    transform: scale(1.6);
    opacity: 0.7;
    cursor: pointer;
}
#footer i.fab ,i.fa, #footer img{
    transition: transform .2s ease;
}

#footer i.fab:hover ,i.fa:hover , #footer img:hover{
    transform: scale(1.3);
    opacity: 0.7;
    cursor: pointer;
}

.links {
    padding-top: 2%;
}

.tooltip-inner {
    font-size: 1rem;
    background-color: white;
    color: black;
    font-family: 'Helvetica';
    margin-bottom: 10%;
}
.my-tooltip .arrow::before {
    border-top-color: transparent;
}
/* .madeby p{
    font-family: "Kelson Sans Light";
    font-size: 0.8rem;
    padding: 0;
    margin:0;
    opacity: 0.4;
} */
.footer{
    width: 100%;
    ovarlay: hidden;
}


