<div id="footer">
    <div class="contact text-center pt-5">
        <h1 class="title pt-5 mb-5">Elérhetőségek</h1>
        <div class="col-12 col-md-12">

            <a title="mail" href="mailto:info@solarboatteam.hu" class="col-3 col-sm-2 col-md-1 mr-2" >
                <mat-icon aria-hidden="false" >mail</mat-icon>
            </a>

            <a title="phone" class="col-3 col-sm-2 col-md-1 mr-2" placement="top" ngbTooltip="+36-30-73-16-221" triggers="click:blur" tooltipClass="my-tooltip">
                <mat-icon aria-hidden="false" >phone</mat-icon>
            </a>

            <a href="https://www.instagram.com/bme_solar_team/?hl=hu" class="col-3 col-sm-2 col-md-1 mr-2"target="blank">
                <i title="instagram" class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/BMEsolar/" target="blank" class="col-3 col-sm-2 col-md-1 mr-2">
                <i title="facebook" class="fab fa-facebook-square fa-2x "></i>
            </a>
        </div>
    </div>
    <div class="column text-center d-flex mb-1 justify-content-center">
        <div class="col-12 col-md-12 links">
            <a href="https://www.bme.hu/" target="blank">
                <img src="../../assets/footer-logo/bme-white.png" alt="BME" title="BME" class="col-4 col-sm-3 col-md-2" />
            </a>
            <a href="http://solarboatteam.hu/index.php"   target="blank" class="boat">
                <img src="../../assets/footer-logo/solarboat-white.png" alt="Solar Boat" title="Solar Boat" class="col-3 col-sm-2 col-md-1" />
            </a>
            <a href="https://www.facebook.com/bmemvk/" target="blank">
                <img src="../../assets/footer-logo/mkv-white.png" alt="MKV" title="Műegyetemi Versenycsapat Közösség" class="col-4 col-sm-3 col-md-2" />
            </a>
        </div>
    </div>

    <div class="text-center pb-3 pt-5 schdesign">
        <a href="http://schdesign.hu" class="col-4 col-sm-4 col-md-2 col-lg-1 schdesign-logo">
            <img src="../../assets/footer-logo/designedbyschdesign.png" title="designed by SchDesign" width="150"  />
        </a>
    </div>
</div>
