<div class="d-inline-flex">
<div class="container-circle">
    <div #circle class='circle'>
              <div class="compass" >
          <div class="glass"></div>
    
                  <ul class="measure">
           
                      <li class="two-hundred-and-seventy-measure">0</li>
                      <li class="three-hundred-measure">10</li>
                      <li class="three-hundred-and-thirty-measure">20</li>
                      <li class="null-measure">30</li>
                      <li class="thirty-measure">40</li>
                      <li class="sixty-measure">50</li>
                      <li class="ninety-measure">60</li>

                  </ul>
  
                  <div class="pointer" [style]="styleRotate">
                      <div class="arrow up"></div>
                      <div class="center"></div>
                      <div class="arrow down"></div>
                  </div>
              </div>
    </div>
  </div>
</div>