<app-nav-bar></app-nav-bar>
<div class="data-vis">
  <div class="container col-12 col-sm-12 col-lg-10 col-md-11 align-items-center">
    <div class="jumbotron col-12">
      <h1 translate class="title pb-4">STATISTICS.datas</h1>
      <div class="p-5">
      </div>

      <!-- <div class="justify-content-center d-flex"> -->
      <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChanged()">
        <mat-tab label="{{'STATISTICS.realTime' | translate}}">
          <app-boat-data [hidden]="!isActive" [data]="data" [showStatistics]="false" [(isActive)]="isActive"
            (isActiveChange)="change($event)"></app-boat-data>
          <div *ngIf="!isActive" translate>STATISTICS.boatIsNotOperating</div>
        </mat-tab>
        <mat-tab label="{{'STATISTICS.previousStatistics' | translate}}">
          <div class="input-group mt-5 mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01" translate>STATISTICS.date</label>
            </div>
            <select [(ngModel)]="selectedDate" (change)="dateChanged()">
              <option *ngFor="let item of dates" [ngValue]="item">
                {{ item.value }}
              </option>
            </select>
          </div>

          <a class="btn mb-3" (click)="setShow()" href="javascript:void(0)"><span
              translate>STATISTICS.options</span></a>

          <div *ngIf="show" class="d-flex mb-3">
            <a class="btn" href="{{ BASE_URL }}"><span translate>STATISTICS.downloadAll</span></a>
            <a class="btn" href="{{ EXPORT_URL }}"><span translate>STATISTICS.downloadOne</span></a>
            <a class="btn" (click)="openDeleteOneConfirmDialog(selectedDate.name)" href="javascript:void(0)">
              <span translate>STATISTICS.deleteAll</span></a>
            <a class="btn" (click)="openDeleteAllConfirmDialog()" href="javascript:void(0)">
              <span translate>STATISTICS.deleteOne</span></a>
          </div>
          <app-boat-data [data]="data" [showStatistics]="true"></app-boat-data>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<app-footer></app-footer>