<app-nav-bar></app-nav-bar>
<div class="container col-10 col-sm-12 col-lg-10 col-md-11">
  <h1 class="title">Galéria</h1>
  <div class="align-items-center justify-content-center d-flex flex-column">
    <div class="d-flex justify-content-center col-12 col-md-8 p-3">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/ezgTLqlOhzs"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="justify-content-center d-flex">
      <div class="gallery justify-content-center" id="photos">
        <a href="../../assets/images/1.jpg" data-lightbox="gallery">
          <img src="../../assets/images/1.jpg" />
        </a>
        <a href="../../assets/images/2.jpg" data-lightbox="gallery">
          <img src="../../assets/images/2.jpg" />
        </a>

        <a href="../../assets/images/3.jpg" data-lightbox="gallery">
          <img src="../../assets/images/3.jpg" />
        </a>
        <a href="../../assets/images/4.jpg" data-lightbox="gallery">
          <img src="../../assets/images/4.jpg" />
        </a>
        <a href="../../assets/images/5.jpg" data-lightbox="gallery">
          <img src="../../assets/images/5.jpg" />
        </a>
        <a href="../../assets/images/6.jpg" data-lightbox="gallery">
          <img src="../../assets/images/6.jpg" />
        </a>

        <a href="../../assets/images/7.jpg" data-lightbox="gallery">
          <img src="../../assets/images/7.jpg" />
        </a>
        <a href="../../assets/images/8.jpg" data-lightbox="gallery">
          <img src="../../assets/images/8.jpg" />
        </a>
        <a href="../../assets/images/1.jpg" data-lightbox="gallery">
          <img src="../../assets/images/1.jpg" />
        </a>
        <a href="../../assets/images/2.jpg" data-lightbox="gallery">
          <img src="../../assets/images/2.jpg" />
        </a>

        <a href="../../assets/images/8.jpg" data-lightbox="gallery">
          <img src="../../assets/images/8.jpg" />
        </a>
        <a href="../../assets/images/6.jpg" data-lightbox="gallery">
          <img src="../../assets/images/6.jpg" />
        </a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
