<app-nav-bar></app-nav-bar>
<div class="gallery">
    <div class="container col-12 col-sm-12 col-lg-10 col-md-11 align-items-center">
        <div class="jumbotron col-12 ">
            <h1 translate class="title pb-3">GALLERY.gallery</h1>
            <div class=" container col-lg-7 col-md-10 col-12 col-sm-12 mt-5" *ngIf="authority == 'admin' ">
                <div class="valami card mb-5 mr-3 ml-3" id="galleryform">
                    <h2 class="title pb-3">Új kép hozzáadása</h2>
                    <div>
                        <form #galleryForm="ngForm">
                            <mat-tab-group mat-align-tabs="start">
                                <mat-tab label="MAGYAR">
                                    <div class="col-md-6 col-lg-6 col-12 pt-3">
                                        <div class="form-group">
                                            <mat-form-field >
                                                <input matInput name="title" type="text" id="title"
                                                       [(ngModel)]="newPicture.title_hu"placeholder="Cím">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab label="ANGOL" class="pt-3">
                                    <div class="col-md-6 col-lg-6 col-12 pt-3">
                                        <div class="form-group">
                                            <mat-form-field >
                                                <input matInput name="title_en" type="text" id="title_en"
                                                       [(ngModel)]="newPicture.title_en" placeholder="Title">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                            <div class="row">
                                <!-- <div class="form-group">
                                    <label for="file">Fénykép</label>
                                    <input type="file" required id="file" class="form-control"
                                           (change)="handleFileInput($event.target.files)"
                                           [ngClass]="{'failed': failed }"/>
                                </div> -->
                                <div class="col-11 col-md-6 col-lg-6 col-sm-10">
                                    <label for="file">Kép</label>
                                    <ngx-dropzone (change)="onSelect($event)">
                                        <ngx-dropzone-label>Húzd ide a képet!</ngx-dropzone-label>
                                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true"
                                                              (removed)="onRemove(f)">
                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                        </ngx-dropzone-preview>
                                    </ngx-dropzone>
                                </div>
                                <!-- <div class="form-group">
                                    <label for="smallfile">Kis fotó</label>
                                    <input type="file" required id="smallfile" class="form-control"
                                           (change)="handleSmallFileInput($event.target.files)"
                                           [ngClass]="{'failed': failed }"/>
                                </div> -->
                            </div>

                            <!-- <a class="btn" (click)="uploadFileToActivity()" href="javascript:void(0)" [ngClass]="{'disabled': !isEnabled(loginForm.form.valid)}" ><span>Feltöltés</span></a> -->
                            <a class="btn" (click)="uploadGalleryPicture(galleryForm)" href="javascript:void(0)"
                               [ngClass]="{'disabled': !galleryForm.form.valid || files == [] }"><span>Feltöltés</span></a>


                        </form>
                    </div>
                </div>
            </div>
            <div class="align-items-center justify-content-center col-12 d-flex flex-column">
                <div class="row col-12">
                    <div class="d-flex justify-content-center col-12 col-lg-6 col-md-6 p-3 mb-lg-3 pb-md-3">
                        <iframe class="p-3 " width="560" height="315" src="https://www.youtube.com/embed/ezgTLqlOhzs"
                                frameborder="0"
                                allow=" encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="d-flex justify-content-center col-12 col-lg-6 col-md-6 p-3 mb-3">
                        <iframe class="p-3" width="560" height="315" src="https://www.youtube.com/embed/xFjTQf9uCsM"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>

                <div class="justify-content-center d-flex mb-5" *ngIf="largeWidth">
                    <div class="gallery justify-content-center" id="photos">
                        <div *ngFor="let img of gallery" class="picture">

                            <a (click)="clickMethod(img.id)" class="close" *ngIf="authority == 'admin'">&times;</a>

                            <a href="{{img.picture}}" data-lightbox="gallery">
                                <div class="img-wrap">
                                    <img src="{{img.smallPicture}}" alt="{{ img.title_hu }}"/>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="justify-content-center d-flex mb-5" *ngIf="!largeWidth">
                    <div class="gallery justify-content-center" id="photos">
                        <div *ngFor="let img of gallery" class="picture">

                            <a (click)="clickMethod(img.id)" class="close" *ngIf="authority == 'admin'">&times;</a>

                            <a href="{{img.smallPicture}}" data-lightbox="gallery">
                                <div class="img-wrap">
                                    <img src="{{img.smallPicture}}" alt="{{ img.title_hu }}"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
