<div *ngIf="data" style="display: inline-block;">
  <ngx-charts-bar-vertical
    [view]="data.view"
    [scheme]="data.colorScheme"
    [results]="data.multi"
    [gradient]="data.gradient"
    [xAxis]="data.showXAxis"
    [yAxis]="data.showYAxis"
    [legend]="data.showLegend"
    [showXAxisLabel]="data.showXAxisLabel"
    [showYAxisLabel]="data.showYAxisLabel"
    [xAxisLabel]="data.xAxisLabel"
    [yAxisLabel]="data.yAxisLabel"
    [legend]="data.legend"
    [yScaleMax]="data.yScaleMax"
  >
  </ngx-charts-bar-vertical>
</div>
