.jumbotron {
    background: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right:0;
}
.container{
    margin-left: 0;
    margin-right:0;
}

.description{
    font-family: Helvetica;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 10%;
    text-align: justify;
}
.description.card.card-body{
    padding-bottom: 5%;
}
.title.subtitle{
    font-family: 'KelsonSans-Normal';
    letter-spacing: 6px;
    text-transform: uppercase;
}
