<nav
  class="navbar navbar-expand-lg sticky-top"
  [class.transparent]="page == '/mainpage' || page == '/mainpage#aboutus'"
>
  <a class="navbar-brand" href="#"
    ><img src="../../assets/logo.png" alt="logo" title="logo"
  /></a>

  <button
    class="navbar-toggler navbar-light"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/mainpage"
          fragment="aboutus"
          routerLinkActive="active-link"
          target=""
          >rólunk</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/news" routerLinkActive="active-link"
          >hírek</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/team" routerLinkActive="active-link"
          >csapatunk</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/achievements"
          routerLinkActive="active-link"
          >eredmények</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gallery" routerLinkActive="active-link"
          >galéria</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/sponsors"
          routerLinkActive="active-link"
          >szponzorok</a
        >
      </li>
     
      <li class="nav-item" *ngIf="authority">
        <a
          class="nav-link"
          routerLink="/boatdata"
          routerLinkActive="active-link"
          >adatok</a
        >
      </li>
      <!--

        <li class="nav-item" *ngIf="authority == 'admin'">
          <a
          class="nav-link"
          routerLink="/users"
          routerLinkActive="active-link"
          >felhasználók</a
          >
        </li>
      -->
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Login</a>
      </li>

      <li *ngIf="authority" class="nav-item">
        <a class="nav-link" routerLink="/mainpage" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
