/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: KelsonSans-Light;
    src: url(assets/fonts/KelsonSans-Light.otf) format("opentype");
}
@font-face {
    font-family: KelsonSans-Bold;
    src: url(assets/fonts/KelsonSans-Bold.otf) format("opentype");
}
@font-face {
    font-family: KelsonSans-Normal;
    src: url(assets/fonts/KelsonSans-Normal.otf) format("opentype");
}


/*  h0 - title
    h1.title - összes cím
    h2 - gombok, header feliratai,
    h3
*/
h1.title{
    font-family: 'KelsonSans-Light';
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
    padding-top: 5%;
}
h2.title{
    font-family: 'KelsonSans-Bold';
    font-size: 1.5rem;
    margin: 0;
}
p{
    font-family: 'Helvetica';
    font-size: 1rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*  gomb animálás
*/
a.btn, button.btn{
    display:inline-block;
    font-size:1rem;
    font-weight:800;
    letter-spacing:0.2em;
    text-transform:uppercase;
    padding:19px 35px;
    border:1px solid #1B262F;
    text-align:center;
    position:relative;
    -webkit-transition:color 0.3s ease-out;
    transition:color 0.3s ease-out
}
a.btn span, button.btnspan{
    display:inline-block;
    z-index:2;
    position:relative
}
a.btn:before,button.btn:before{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    bottom:0;
    content:'';
    display:block;
    -webkit-transform:scaleX(0);
    transform:scaleX(0);
    -webkit-transition:-webkit-transform 0.3s ease-in-out;
    transition:-webkit-transform 0.3s ease-in-out;
    transition:transform 0.3s ease-in-out;
    transition:transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    background:#1B262F
}
a.btn:hover,button.btn:hover{
    text-decoration:none;
    color:#fff
}
a.btn:hover span, button.btn:hover span
{-webkit-animation:btn-anim 0.3s ease-out;
    animation:btn-anim 0.3s ease-out
}
a.btn:hover:before,button.btn:hover:before {
    -webkit-transform:scaleX(1);
    transform:scaleX(1)
}
a.btn.white,button.btn.white{
    border-color:#fff;
    color:#fff
}
a.btn, button.btn{
    color:#1B262F;
}
a.btn.white:before,button.btn.white:before{
    background:#fff
}
a.btn.white:hover,button.btn.white:hover{
    color:#1B262F
}
@-webkit-keyframes btn-anim{
    from{
        -webkit-transform:translateX(0);
        transform:translateX(0);
        opacity:1
    }
    49%{
        -webkit-transform:translateX(10px);
        transform:translateX(10px);
        opacity:0
    }
    51%{
        -webkit-transform:translateX(-10px);
        transform:translateX(-10px);
        opacity:0
    }
    to{
        -webkit-transform:translateX(0);
        transform:translateX(0);
        opacity:1
    }
}
@keyframes btn-anim{
    from{
        -webkit-transform:translateX(0);
        transform:translateX(0);
        opacity:1
    }
    49%{
        -webkit-transform:translateX(10px);
        transform:translateX(10px);
        opacity:0
    }
    51%{
        -webkit-transform:translateX(-10px);
        transform:translateX(-10px);
        opacity:0
    }
    to{
        -webkit-transform:translateX(0);
        transform:translateX(0);
        opacity:1
    }
}

a:hover{
    opacity: 1 !important;
}
